body {
    background: rgb(228, 202, 168);
    background-image: url(../images/pexels-nikolay-osmachko-230477.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}   



h1, h2, p {
    text-align: center;
}

.teaMenu {
    width: 80%;
    background: orange;
    margin-left: auto;
    margin-right: auto;
}

.teaItem {
    background-color: red;
    display: inline-block;
    
    
}

.teaFlavor {
    text-align:left;
}

.teaPrice {
    text-align: right;
}

