body {
    background: rgb(228, 202, 168);
    background-image: url(../images/pexels-nikolay-osmachko-230477.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}   



h1, h2, p {
    text-align: center;
}

<<<<<<< HEAD
h1 {
    font-size: 40px;
}

h2 {
    font-size: 35px;
}

.established {
    font-style: italic;
}

.teaMenu {
=======
.teaMenu  {
    max-width: 500px;
>>>>>>> a550c658eb8fc35febc5a0c298e8ece809c846f3
    width: 80%;
    background: rgba(228, 202, 168, 0.406);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
}

.teaItem p {
    /*background-color: red;*/
    display: inline-block; 
    font-weight: 400;  
}

.teaFlavor, .teaCollection {
    background-color: red;
    text-align:left;
    width: 75%;
}

.teaPrice, .collectionPrice {
    background-color: blue;
    text-align: right;
    width: 25%;
}

